.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;

  .titleContainer {
    display: flex;
    gap: 6px;

    .input {
      flex: 1;
      width: 0px;
    }
  }

  .textInputsContainer {
    display: flex;
    gap: 6px;
    flex: 1;

    .textInputContainer {
      display: flex;
      flex: 1;

      .markdownPreview {
        padding: 8px;
      }

      .textarea {
        flex: 1;
        resize: none;
        width: 0px;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 6px;
  }
}