.root {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;

    .decryptButtonContainer {
      display: flex;

      .decryptButton {
        flex: 1;
        display: flex;
        justify-content: center;
      }
    }
  }
}