.root {
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: none;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.75;
  }
}
