.pageRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .root {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 67%;
    margin: 0px auto;
    flex: 1;

    @media (max-width: 1000px) {
      width: initial;
      margin: initial;
    }

    .titleContainer {
      display: flex;
      gap: 6px;

      .input {
        flex: 1;
        width: 0px;
      }
    }

    .textInputsContainer {
      display: flex;
      gap: 6px;
      flex: 1;

      .textInputContainer {
        display: flex;
        flex: 1;

        .textarea {
          flex: 1;
          resize: none;
          width: 0px;
        }
      }
    }

    .passwordContainer {
      display: flex;
      gap: 6px;

      .input {
        flex: 1;
      }
    }
  }
}
