.root {
  .icon {
    display: flex;
    justify-content: center;
  }

  .lockedFolder {
    position: relative;

    svg {
      &:first-child {
        color: red;
      }

      &:last-child {
        position: absolute;
        left: 3px;
        top: 10px;
        font-size: 0.5em;
      }
    }
  }
}
