.root {
  display: flex;
  gap: 6px;
  width: fit-content;
  padding: 8px;

  &[data-disabled="true"] {
    cursor: default;
    opacity: 0.5;
  }

  .icon {
    display: flex;
    justify-content: center;
    height: 20px;

    svg {
      height: 100%;
    }

    svg {
      height: 100%;
    }
  }
}