.container {
    position: absolute;
    right: 0px;
    width: max-content;
    top: 2px;
    border: 1px solid black;
    background: rgb(15, 15, 15);
    padding: 2px;
    box-sizing: border-box;
    transform: translateX(calc(100% + 15px));
    z-index: 1;

    .encryptTitleContainer {
        margin-left: 6px;
    }

    .encryptionContainer {
        label {
            display: block;
        }

        &[data-visible="false"] {
            display: none;
        }
    }

    &[data-visible="false"] {
        display: none;
    }
}
