.root {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  width: fit-content;
  margin: 0px auto;

  .form {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .title {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 10px;
  }

  .links {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
