.textarea {
    min-width: 300px;
    min-height: 100px;
}

.passwordContainer,
.deleteContainer {
    &[data-visible="false"] {
        display: none;
    }
}

.deleteContainer {
    button{
        color: red;
    }
}
